@font-face {
  font-family: "Futura";
  src: local('Futura'), url('../public/futura/FuturaPTMedium.woff') format('woff');
}

@font-face {
  font-family: "Futura-light";
  src: local('Futura'), url('../public/futura/FuturaPTLight.woff') format('woff');
}


#root {
  font-family: "Futura";
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body{
  font-family: "Futura";
  width: 100vh;
  height: 100vh;
}

#app{
  font-family: "Futura";
  position: relative;
  height: 100vh;
  background-color: rgb(24, 24, 24);
  overflow: hidden;
  width: 100vw;
}

.stop1 {
  stop-color: rgb(245, 36, 36);
  transition: stop-color 5s ease-in-out;
}

.stop2 {
  stop-color: rgb(0, 235, 27);
  transition: stop-color 2s ease-in-out;
}

.overlay-content {
  font-family: "Futura";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; 
  color: black; 
}

#background{
  z-index: -2;
}

#home-page-info{
  font-family: "Futura-light";
  letter-spacing: 2px;
  width: 40vw;
  text-align: left;
  margin-top: 30vh;
  margin-left: 10%;
  z-index: 16;
}

#home-page-info h2{
  font-family: "Futura";
  font-size: 37px;
}

#home-page-info button{
  cursor: pointer;
  z-index: 20;
}

#home-page-info img{
  width: 28vw;
  margin-top: -60vh;
  margin-left: 50vw;
}

#home-page .blob-animation{
  position: absolute;
  height: 100vh;
  width: 200vw;
}

#home-page .blob-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -2; 
  margin-left: 48vw;
  margin-top: -165vh;
}

#navbar{
  font-family: "Futura";
  width: 100vw;
  color: white;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 8;
  gap: 2%;
}

#logo-bar{
  font-family: "Futura";
  width: 4vw;
  padding-top: 10px;
  padding-left: 20px;
}

#signup{
  font-family: "Futura";
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

#buttons-enter{
  font-family: "Futura";
  margin-right: 2;
}

#home-signup{
  font-family: "Futura";
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 100%;
  margin-bottom: -10px;
  height: 30px;
  background-color: black;
  color: white;
}

#home-toggle{
  font-family: "Futura";
  font-weight: bold;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 10px;
  padding: 0;
  width: 100%;
  height: 25px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

#close-popup{
  all: unset;
  cursor: pointer;
}


#form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: center center;
  background-color: white;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-right: 20px;
  border-radius: 20px;
  font-family: "Futura";
}

#form h4{
  font-family: "Futura";
  margin-bottom: 0px;
  margin-top: 0px;
}


#popup{
  font-family: "Futura";
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-right: 20px;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding-left: 1%;
  padding-right: 1%;
  width: fit-content;
  height: 60%;
  text-align: center center;
  color: black;
  border-radius: 30px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Futura";
}

#home-page{
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Futura";
}

#background{
  z-index: -4;
}

#home-page h1{
  font-family: "Futura";
  margin-top: 40vh;
  font-size: 5rem;
  height: 100%;
  width: 100%;
}

#mood-page{
  font-family: "Futura";
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#mood-page .blob-animation{
  position: relative;
  height: 100vh;
  width: 200vw;
}

#mood-page .blob-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -2; 
}

#background-mood-page{
  position: absolute;
}

#mood-page img{
  width: 50vw;
  position: absolute;
  z-index: -2;
}

select {
  font-family: "Futura";
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  appearance: none;
  width: 5%;
  height: 5%;
  font-size: 1.15rem;
  text-indent: 2%;
  border: none;
  border-radius: 0.25rem;
  color: rgb(161, 174, 177);
  margin-bottom: 2%;
  text-align: center;
  outline: none; 
  background-color: rgba(0, 0, 0, 0);
}

select option {
  background-color: rgb(24, 24, 24);
  color: rgb(250, 250, 250);
  font-size: 15px;
  padding: 10px;
}

option:hover,
option:focus {
  background-color: rgb(24, 24, 24);
}

select option:checked {
  background-color: rgb(24, 24, 24);
}

select::-ms-expand {
  display: none;
}

select::-moz-focus-inner {
  border: 0;
}

select:focus {
  background-color: rgba(0, 0, 0, 0);
}

select::after {
  content: '\25BC'; 
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
}

#mood-page button{
  font-family: "Futura";
  font-size: 15px;
  height: 15%;
  width: 40%;
}

#feeling-state{
  font-family: "Futura";
  color: white;
  margin-bottom: 5%;
  width: 100%;
  margin-top: 0vh;
}

#feeling-dropdown{
  font-family: "Futura";
  height: 60%;
  width: 20%;
  font-size: 22px;
}

#feeling-dropdown option{
  font-family: "Futura";
  appearance: none;
}

#mood-page-info{
  font-family: "Futura";
  width: 30vw;
  height: 40vh;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 20px;
}

#edit-user{
  font-family: "Futura";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: 5;
}

#form-edit-user{
  font-family: "Futura";
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-top: 10vh;
  background-color: rgba(66, 66, 66, 0.705);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 3%;
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px rgb(2, 2, 2);
}

#form-edit-user label{
  font-family: "Futura";
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#form-edit-user input{
  font-family: "Futura";
  margin-top: 1%;
  margin-bottom: 3%;
  width: 100%;
  border-radius: 8px;
  text-indent: 2%;
  height: 30px;
  border-style: none;
  background-color: rgba(128, 128, 128, 0.123);
}


#buttons-edit-user{
  font-family: "Futura";  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
  width: 100%;
  font-size: 15px;
}

#menu{
  font-family: "Futura";  
  color: white;
  text-decoration: none;
  width: 30%;
  margin-left: 3.4%;
}

#link-history{
  font-family: "Futura";  
  color: white;
  text-decoration: none;
  margin-right: 5%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: 1px solid white;
}

#link-mood{
  font-family: "Futura";  
  color: white;
  text-decoration: none;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: 1px solid white;
}

#history {
  font-family: "Futura";
  color: white;
  cursor: pointer;
  margin-top: 5%;
}

#historylist{
  font-family: "Futura";
  color: white;
  margin-top: 5vh;
  max-height: 500px;
  position: relative
}

#social-share{
  font-family: "Futura";  
  cursor: pointer;
}

#accordeon{
  font-family: "Futura-light";  
  background-color: #303030;
  position: relative;
  width: 100vw;
  border: 1px solid white;
  overflow:scroll;
}

#accordeonContent{
  padding:0%;
  background-color: #303030;
  padding-top: 2%;
  padding-bottom: 2%;
}

.closed-accordion {
  font-family: "Futura-light";
  letter-spacing: 1px;
  background-color: #303030;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

.open-accordion {
  background-color: #303030;
}

#playlist-page{
  font-family: "Futura-light";  
  z-index: 5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

#embed-iframe{
  background-color: #303030;
  height: 60vh;
}

#playlist-page h1{
  color: white;
}

#mood-button{
  font-family: "Futura";  
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 10.1%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.103);
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  color: white;
}

#save-user{
  font-family: "Futura";  
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 70%;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

#delete-user{
  font-family: "Futura";  
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 70%;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

#historylist{
  height: 70vh;
  width: 60vw;
  scrollbar-width: thin;
  overflow-y: hidden;
}


#buttons-history{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}