#root {
  font-family:monospace;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body{
  font-family:monospace;
  width: 100vh;
  height: 100vh;
}

#app{
  font-family:monospace;
  position: relative;
  height: 100vh;
  background-color: rgb(24, 24, 24);
  overflow: hidden;
  width: 100vw;
}

.blob-animation{
  position: relative;
  height: 100vh;
  width: 80vw;
  rotate: rotate(90deg);
}

.blob-svg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; 
  rotate: rotate(90deg);
}

.stop1 {
  stop-color: rgb(245, 36, 36);
  transition: stop-color 2s ease-in-out;
}

.stop2 {
  stop-color: rgb(0, 235, 27);
  transition: stop-color 2s ease-in-out;
}



.overlay-content {
  font-family:monospace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; 
  color: black; 
}

#background{
  z-index: -2;
}


#navbar{
  font-family:monospace;
  width: 100vw;
  color: white;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 8;
}

#logo-bar{
  font-family:monospace;
  width: 4vw;
  padding-top: 10px;
  padding-left: 20px;
}

#signup{
  font-family:monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

#buttons-enter{
  font-family:monospace;
  margin-right: 2;
}

#home-signup{
  font-family:monospace;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 100%;
  margin-bottom: -10px;
  height: 30px;
  background-color: black;
  color: white;
}

#home-toggle{
  font-family:monospace;
  font-weight: bold;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 10px;
  padding: 0;
  width: 100%;
  height: 25px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

#close-popup{
  all: unset;
  cursor: pointer;
}


#form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: center center;
  background-color: white;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-right: 20px;
  border-radius: 20px;
  font-family:monospace;
}

#form h4{
  font-family:monospace;
  margin-bottom: 0px;
  margin-top: 0px;
}

#username{
  font-family:monospace;
  border-radius: 5px;
  border-style: none;
  border: 1px solid black;
  text-indent: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 20px;
}

#password{
  font-family:monospace;
  border-radius: 5px;
  border-style: none;
  border: 1px solid black;
  text-indent: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 20px;
}

#name{
  font-family:monospace;
  border-radius: 5px;
  border-style: none;
  border: 1px solid black;
  text-indent: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 20px;
}

#email {
  font-family:monospace;
  border-radius: 5px;
  border-style: none;
  border: 1px solid black;
  text-indent: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 20px;
}


#popup{
  font-family:monospace;
  all: unset;
  margin-right: 20px;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 7%;
}

#popup:after,
#popup:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: -10px auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  font-family:monospace;
}

#popup:hover:after,
#popup:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
  font-family:monospace;
}

#popup:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
  font-family:monospace;
}


.overlay {
  position: fixed;
  position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:monospace;
}

#home-page{
  width: 100%;
  height: 100%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position:center;
  position: absolute;
  z-index: -1;
  color: white;
  font-family:monospace;
}

#background{
  z-index: -4;
}

#home-page h1{
  font-family:monospace;
  margin-top: 40vh;
  height: 100%;
  width: 100%;
}

#mood-page{
  font-family:monospace;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

select {
  font-family:monospace;
  appearance: none;
  width: 10%;
  height: 5%;
  font-size: 1.15rem;
  text-indent: 2%;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  margin-bottom: 2%;
  text-align: center;
}

#mood-page button{
  font-family:monospace;
  font-size: 15px;
}

#feeling-state{
  font-family:monospace;
  color: white;
  margin-top: 10vh;
}

#feeling-dropdown{
  font-family:monospace;
  gap: 30px;
}

#feeling-dropdown option{
  font-family:monospace;
  appearance: none;
}

#edit-user{
  font-family:monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: 5;
}

#form-edit-user{
  font-family:monospace;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-top: 10vh;
}

#form-edit-user label{
  font-family:monospace;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#form-edit-user input{
  font-family:monospace;
  margin-top: 1%;
  margin-bottom: 3%;
  width: 100%;
  border-radius: 8px;
  text-indent: 2%;
  height: 25px;
  border-style: none;
}


#buttons-edit-user{
  font-family:monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
  width: 100%;
  font-size: 15px;
}

#menu{
  font-family:monospace;
  color: white;
  text-decoration: none;
}

#link-menu{
  font-family:monospace;
  color: white;
  text-decoration: none;
}

#list-playlists{
  font-family:monospace;
  margin-top: 40vh;
  cursor: pointer;
}

#social-share{
  font-family:monospace;
  cursor: pointer;
}

#accordeon{
  font-family:monospace;
  background-color: grey;
  color: white;
}

#playlist-page{
  font-family:monospace;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

#mood-button{
  font-family:monospace;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 10.1%;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

#save-user{
  font-family:monospace;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 90%;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

#delete-user{
  font-family:monospace;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 15px;
  padding: 0;
  width: 90%;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
}