#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body{
  width: 100vh;
  height: 100vh;
}

#app{
  width: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#navbar{
  width: 100vw;
  color: white;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#logo-bar{
  width: 4vw;
  padding-top: 10px;
  padding-left: 20px;
}

#signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

#buttons-enter{
  margin-right: 20px;
}

#home-signup{
  margin-right: 20px;
}

#popup-login{
  margin-right: 30px;
}

#form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: center center;
  background-color: white;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  margin-right: 20px;
}

#popup{
  margin-right: 30px;
}

.overlay {
  position: fixed;
  position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-page{
  width: 100%;
  height: 100%;
  background-image: url("../../../public/Background/blobanimation (1).svg");
  background-color: rgb(22, 22, 22);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position:center;
  position: absolute;
  z-index: -1;
  color: white;
}

#home-page h1{
  margin-top: 40vh;
}


#mood-page{
  width: 100vw;
  height: 100vh;
  background-color: brown;
  position: absolute;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

select {
  appearance: none;
  width: 10%;
  height: 5%;
  font-size: 1.15rem;
  text-indent: 2%;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  margin-bottom: 2%;
  text-align: center;
}

#mood-page button{
  font-size: 15px;
}

#feeling-state{
  color: white;
  margin-top: 10vh;
}

#feeling-dropdown{
  gap: 30px;
}

#feeling-dropdown option{
  appearance: none;
}

#edit-user{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: brown;
  color: white;
}

#form-edit-user{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-top: 10vh;
}

#form-edit-user label{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#form-edit-user input{
  margin-top: 1%;
  margin-bottom: 3%;
  width: 100%;
  border-radius: 8px;
  text-indent: 2%;
  height: 25px;
  border-style: none;
}


#buttons-edit-user{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
  width: 100%;
  font-size: 15px;
}

#menu{
  color: white;
  text-decoration: none;
}

#link-menu{
  color: white;
  text-decoration: none;
}

#list-playlists{
  margin-top: 40vh;
  cursor: pointer;
}